body {
    background-color: #CBC3E3 !important;
}

h1 {
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 25%;
}

.register-btns {
    margin-top: 330px;
    text-align: center;
}